body {
	text-align: center;
	font-size: 12px;
}

h1 {
	text-align: center;
}

table {
	border-collapse: collapse;
	display: inline-block;
	margin-bottom: 12px;
	vertical-align: top;
}

td {
	border: 1px solid #893857;
	height: 20px;
	text-align: center;
	width: 20px;
}

.recommended {
	color: #5DB186;
	text-decoration: line-through;
}
