table {
	border-collapse: collapse;
	margin-bottom: 16px;
}

div, td {
	border: 2px solid black;
	height: 40px;
	text-align: center;
	vertical-align: middle;
	width: 40px;
}

div {
	display: inline-block;
}

.blue {
	background-color: #00AAFF;
}

.blue_green {
	background-color: #00AAAA;
}

.no_top_border {
	border-top: 0;
}

.no_bottom_border {
	border-bottom: 0;
}
